elpa/
auto-save-list/
*.elc
.graphene-geometry
.nw-geometry
projectile-bookmarks.eld
/*.cache
/smex-items
/url/cookies
/bookmarks
/cider-history
.cask
.emacs.desktop*
/recentf
*~

# Straight
/var
/straight/*
!/straight/versions/
!/straight/versions/*